body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 300;
font-size: 1.5vw;
line-height: 160%;
}
.header{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header__logo{
    margin-top: 2%;
    margin-left: 5%;
    width: 25vw;
}
.header__button{
    margin-top: 2%;
    margin-right: 5%;
    width: 12vw;
}

img{
    max-width: 100%;
    max-height: 100%;
}

main{
    margin-left: 8%;
}

h1{
    font-weight: 900;
    font-size: 4vw;
    line-height: 120%;
    text-transform: uppercase;
    }

.container__grid{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 1fr 0.5fr;
    justify-content: space-around;
    margin-left: -3%;
}
.container__image__orange{
    background-image: url(assets/Rectangle\ 11.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 19vw;
    text-align: center;
}

.container__text h3{
text-transform: uppercase;
}



#orange{
    background-image: url(assets/Rectangle\ 11.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 15vw;
padding: 3%;
}

.container__h__white{
    color: white;
}

.button{
    background-color: #5222D0;
    color: white;
    border-radius: 25%;
    height: 7vh;
    border-style: none;
    margin-top: 5%;
}
.button:hover{
    background-color: #746df5;
}

li {
    list-style-type: none;
    display: inline;
    padding-right: 2.5vw;
}

nav{
    width: 100%;
    height: 20vh;
    display: flex;

}
ul{
    margin: 0;
    padding: 0;
    padding-top: 3vw;
}
a{
    text-decoration: none;
    color: #5222D0;
}
a:hover{
    color: rgb(6, 6, 236);
    font-weight: 600;
}

@media (min-width:280px) and (max-width:860px) {
    body{  
    font-size: 4vw;
    height: 100%;
    }

    .header__button{
        width: 20vw;
    }

    .container__grid{
        display: flex;
        flex-flow: column wrap;
    }
    #orange{
        height: max-content;
    }
}